[submodule "_vim/bundle/rust"]
	path = _vim/bundle/rust
	url = https://github.com/wting/rust.vim
	ignore = untracked
[submodule "_vim/bundle/OmniCppComplete"]
	path = _vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "_vim/bundle/cython"]
	path = _vim/bundle/cython
	url = git@github.com:yAngle/vim-cython.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/buftabs"]
	path = _vim/bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
[submodule "_vim/bundle/taglist"]
	path = _vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "_vim/bundle/a"]
	path = _vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "_vim/bundle/asymptote"]
	path = _vim/bundle/asymptote
	url = https://github.com/hura/vim-asymptote.git
[submodule "_vim/bundle/python-syntax"]
	path = _vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "_vim/bundle/indentpython"]
	path = _vim/bundle/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "_vim/bundle/auctex"]
	path = _vim/bundle/auctex
	url = git@github.com:yAngle/auctex.vim.git
