[submodule "_vim/bundle/rust"]
	path = _vim/bundle/rust
	url = https://github.com/wting/rust.vim
	ignore = untracked
[submodule "_vim/bundle/OmniCppComplete"]
	path = _vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "_vim/bundle/cython"]
	path = _vim/bundle/cython
	url = git@github.com:yAngle/vim-cython.git
