[submodule "_vim/bundle/rust"]
	path = _vim/bundle/rust
	url = https://github.com/wting/rust.vim
	ignore = untracked
[submodule "_vim/bundle/OmniCppComplete"]
	path = _vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "_vim/bundle/cython"]
	path = _vim/bundle/cython
	url = git@github.com:yAngle/vim-cython.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/buftabs"]
	path = _vim/bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
