* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.4;
  padding: 1em;
  margin: auto;
  max-width: 50em;
  color: #222222;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
  background-color: transparent;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover, a:focus {
  border-bottom: 1px solid #008cba;
}

*::-moz-selection {
  background: #f90;
  color: #000;
}

*::selection {
  background: #f90;
  color: #000;
}

a::-moz-selection {
  background: #f90;
  color: #0645ad;
}

a::selection {
  background: #f90;
  color: #0645ad;
}

p {
  margin: 5px 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  line-height: 1.1;
  font-weight: normal;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1, h2 {
  padding-bottom: 0.3em;
  border-bottom: 3px solid #eaecef;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

blockquote {
  border-left-width: 1px;
  color: #6f6f6f;
  padding: 10.5px 21px;
  margin: 0 0 21px;
  border-left: 2px solid #dddddd;
}

hr {
  height: 0.25em;
  border: 0;
  padding: 0;
  margin: 10px 0 10px;
  background-color: #e1e4e8;
}

code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}

pre {
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  border-radius: 6px;
}

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

.caption {
  font-style: italic;
}

table {
  /* https://www.granneman.com/webdev/coding/css/centertables */
  margin-left: auto; 
  margin-right: auto;

  margin-top: 1em;
  margin-bottom: 1em;

  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
}
